html, body {
    
    height:100%;
    margin:0;
    padding:0;
}
/*Body styles*/
body{
    font-family: 'Bungee Spice',
        cursive;
    background-color: #420C09;
  /*Header Styles*/  
    
}
header {
    text-align: center;
    padding: 5px;
    

}
header, h2 {
    padding:5px;
}


/*Game Area*/
.game-area {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    text-align: center;
}
/*Control button styles*/
.control {
    display: inline-block;
    margin: 5px;
    width: 15%;
    height: 40px;
    border:2px groove #000000;
    border-radius: 8px;
    

}
/*Button styles and hover effect*/


button[data-choice="0"] {
    background-color: #F4C430;
}
button[data-choice="0"]:hover{
    background-color:#E3B320 ;
}

button[data-choice="1"] {
    background-color: #FFC0CB;
    
}
button[data-choice="1"]:hover {
    background-color: #EEB0BA;
}
button[data-choice="2"] {
    background-color: #98BF64;
}
button[data-choice="2"]:hover {
    background-color: #87AD53;
}
#messages {
    height: 20px;
}
.choice-section{
    margin:30px;
    
}
    
/*Score section style*/
.score-section{
    display:flex;/*Display score section as a flex container*/
}
/*Player and cumputer styles*/
.player, .computer{
    flex:1; /*Distribite flex item equally*/
    text-align: center;
}
    
    .scores{
        margin:0;
    }
   
    


#player-image,
#computer-image {


    width: 50%;
    height: auto;
    border: 3px groove #000000;
        border-radius: 5px;
    
}
/*Adjust footer styles*/
footer {
    position: absolute;
    bottom:0;
    width: 100%;
    height: 60px;
    padding-bottom: 26px;
    text-align: center;
    margin-top: auto;
    letter-spacing: 1px;
   
    
}
/*Media Query for smaller screens(max-width 768px*/
@media (max-width:768px) {
    header, h2{
        font-size:20px;
    }
   
    .game-area {
        width: 85%;
        margin-top: 30px;
        
    }

    .control {
        width: 47%;
    }

    .scores{
        font-size: 12px;
        margin-top: 5px;
    }
#player-image,
#computer-image {
    width: 90%;
    margin-top: 5px;
   
}

footer{
    position:static;
    
   
}

footer, p {
    font-size:12px ;
    margin: 0;
}



}   