body{
    font-family: 'Goblin One',
        cursive;
    margin: 0;
    
}
header {
    text-align: center;
    padding: 10px;
    background-color: #F5DEB3;

    
}



/*Game Area*/
.game-area {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    text-align: center;
}

.control {
    display: inline-block;
    margin: 2px;
    width: 90px;
    height: 40px;
    border:2px double #000000;
    border-radius: 8px;
    

}
button[data-choice="0"] {
    background-color: #FFD700;
}
button[data-choice="1"] {
    background-color: #FFC0CB;
}
button[data-choice="2"] {
    background-color: #98BF64;
}

#messages {
    height: 20px;
}

    

.player {
   
    float: left;
    width: 45%;
    
    
    
    
}



.computer {
    
    float: right;
    width: 45%;
}
    
    
   
    


#player-image,
#computer-image {


    width: 70%;
    height: 80%;
    
}

.rules {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    min-height: 80px;
    padding-top: 5px;
    text-align: center;
    background-color: #F5DEB3;
    margin-top: 20px;
    
}
